// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.index-thumb {
    width: 173px;
    height: 173px;
}

.show-img {
    width: 200px;
    height: 200px;
}